<p>data-binding works!</p>
<!-- <h1>Interpolation</h1>

{{2+9*8}}
<br>
{{fullName}}
<br>
{{"Welcome " + fullName}}
<br>
{{fullName.length}}
<br>
{{fullName.toUpperCase()}}

<br> -->
<!-- {{a=2+3}} -->
<!-- {{_url}} -->
<!-- <br>
<h1>property binding</h1>
<input type="text" [id]="textId">

<button [disabled]="isDisabled">Click me</button>
<button disabled="{{isDisabled}}">Click me</button> -->

<!-- <h2>Class binding</h2>

<h3 [class]="textColor">Welcome to angular</h3>
<h3 [class.text-danger]="hasError">Welcome again</h3>

<h3 [ngClass]="messageClasses" >Welcome from multiple classes</h3> -->

<h2>Style binding</h2>

<h3 [style.color]="'red'">Welcome IOT Track</h3>

<h3 [style.color]="hasError ? 'red' : 'green' ">Welocme again and again</h3>

<h3 [ngStyle]="myStyles">IOT Track</h3>

