<app-header></app-header>
<h2>Welcome to angular course</h2>
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
<!-- <app-employee-list></app-employee-list>
<app-employee-details></app-employee-details> -->
<!-- <nav>
    <a routerLink="/employees">Employees</a> &nbsp;
    <a routerLink="/departments">Departments</a>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<app-tdf></app-tdf>